{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier", "plugin:testing-library/react"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "ts": false
    },
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "plugins": ["prettier", "react", "testing-library"],
  "rules": {
    "no-unused-vars": 1,
    "react/no-unescaped-entities": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/prefer-default-export": 0,
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error"
  }
}
