@import '../../styles/base.scss';

.inputWrapper {
  & label {
    display: flex;
    flex-direction: column;
  }

  & .inputLabel {
    font-weight: bold;
    display: block;
    margin-bottom: $spacingS;
  }

  & .inputContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid $secondary-color-faded;
    padding: ($spacingS + $spacingXS);
    border-radius: $spacingXS / 2;

    &.success {
      border-color: $successColor;
    }

    &.error {
      border-color: $errorColor;
    }

    & input {
      border: none;
      padding: 0;
      font-family: inherit;
      font-size: inherit;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    & .visibilityIcon {
      color: grey;
      display: flex;
    }
  }

  & .securityMeter {
    height: 2px;

    &.none {
      width: 0;
    }

    &.low {
      background-color: red;
      width: 25%;
    }

    &.middle {
      background-color: orange;
      width: 50%;
    }

    &.high {
      background-color: green;
      width: 100%;
    }
  }

  & .charactersLeft {
    font-size: 90%;
    color: $secondary-color-faded;
    margin-top: $spacingXS;
    align-self: end;
  }

  & .errorMessage {
    color: $errorColor;
  }
}
